php_value date.timezone Europe/London
php_value display_errors Off

RewriteEngine On

RewriteCond %{REQUEST_URI} !^/public/

#RewriteRule ^(.*)$ /public/$1

#### a shorter version of the above
# RewriteRule ^$ /public/$1

# stackoverflow this works and sets the public folder as the document_root
RewriteRule ^ /public/index.php [L,QSA]
